@import "./media-queries";

.galeria {

    &__titulos {
        font-weight: $peso_texto;
        font-size: $tam_texto;
        text-align: $alineacion_texto;
        padding-top: $padding_texto;
        padding-bottom: 2rem;

        @include tablet {
            padding-top: $padding_texto_movil;
        }

        @include movil {
            padding-top: 1rem;
            padding-bottom: 1rem;
            
        }
    }

    &__imagenes:hover {
        transform: scale(1.1);
        @include movil {
           transform: none;
            
        }
    }

}