@import "./media-queries";

.galeria {

  &__titulos {
    font-weight: $peso_texto;
        font-size: $tam_texto;
        text-align: $alineacion_texto;
        padding-top: $padding_texto;
        margin-bottom: 2rem;
    
        @include movil {
            padding-top: $padding_texto_movil;
        }
  }

  &__container {
    position: relative;
  }
  
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  &__hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #dae6f3b0;
  }
  
  &__container:hover &__hover {
    opacity: 1;
  }
  
  &__text {
    color: #243b61;
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}


