@import "./media-queries";

.responsive {
    width: 100%;
    height: auto;
}

.card-title {
    margin: 1rem 0rem;
}

//inicio Boton Play modal //
.button-container {
    display: inline-block;
    position: relative;
}

.button-container a {
    position: absolute;
    bottom: -2rem;
    right: 1rem;
    background-color: #8F0005;
    border-radius: 100%;
    color: white;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    &:hover{
        background-color: #dddddd;
        color: #8F0005;
    }
}

//fin Boton Play modal //

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video-responsive iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.info {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.recetas__titulos {
    font-weight: $peso_texto;
    font-size: $tam_texto;
    text-align: $alineacion_texto;
    padding-top: $padding_texto;
    margin-bottom: 2rem;

    @include movil {
        padding-top: $padding_texto_movil;
    }
}